<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
{% extends "template.html" %}
{% block content %}

        <div class="jumbotron jumbotron-fluid main_temp_jumbo">
            <div class="container main_temp" >
                <h2>Last Measured Temperature: {{ last['temp'] }}</h2>
                <h4>Using: Raspberry Pi Zero W and DS18B20 sensor </h4>
            </div>
        </div>



    {% for element in data %}
        <div class="container" style="text-align: center">
            <h6>{{ element['temp'] }} <strong>°C</strong></h6>
            <p>{{ element['date'] }} at {{ element['time'] }}</p>
        </div>
    {% endfor %}
{% endblock %}
</body>
</html>